@charset "utf-8";
/* CSS Document */

.fab_form{
	background: none repeat scroll 0 0 #fff;
    border-color: #9c9c9c;
    border-style: solid;
    border-width: 2px;
    display: none;
    left: 370px;
    margin: 0;
    padding: 0 0 5px;
    position: absolute;
    top: 0;
    width: 358px;
    z-index: 10;
}
.fab_form1{width:358px;
	     height:autopx;
	     margin:0;
	     padding:0 0 5px 0;
	     z-index:10;
		 background:#FFF;
		 border-top:3px #9c9c9c solid;
		 border-bottom:7px #9c9c9c solid;
		 border-left:3px #9c9c9c solid;
		 border-right:4px #9c9c9c solid;
		 position:absolute;
		 display:none;
}
#Form{position:absolute; top:0; width:140%; height:150%; background:#808080;
      _width:125%; _height:130%;_top:0; _background:#808080;/*for ie6*/ 
      filter: alpha(opacity=70);  /* ie 有效*/	
	  -moz-opacity:0.7; /* Firefox  有效*/	
	  opacity: 0.7; /* 通用，其他浏览器  有效*/
	  z-index:1;
	  margin-left: -400px;
	  margin-top: -137px;
	  display:none;
}
.fab_formtitle{width:346px;
               height:35px;
               background:url(../images/fabric3_43.gif) repeat-x;
			   float:left;
			   border-bottom:1px #c7dde8 solid;
			   padding:0 0 0 12px;
}
.fab_formtitle span{font-size:14px;
                    color:#333333;
					font-weight:bold;
					line-height:35px;
					float:left;
}
.fab_detail_form{width:318px;
            float:left;
			padding:9px 0 0 0;
}
.fab_form_close{width:35px;
                height:30px;
		        float:right;
}
.form_containt{width:328px;
               padding:0 20px 0 10px;
			   float:left;
}
.fab_ul_style{float:left;
		      margin:0;
		      padding:0;
		      width:100%;
			  border-bottom:1px #b9b9c8 solid;
			  padding:0 0 5px 0;
}
.fab_ul_style li{height:38px;
                 line-height:38px;
				 border-top:1px dotted #8f8f9d;
}
.fab_ul_style span{font-size:12px;
             color:#444444;
			 margin:0 38px 0 0;
}
.fab_input22{width:151px;
            height:24px;
			border:1px #BBBBBB solid;
			line-height:24px;
			margin:10px 0 20px 0;
}
.fab_input23{width:147px;
            height:20px;
			border:1px #BBBBBB solid;
			line-height:20px;
}
.fab_button10{background:url(../images/fabric3_50.gif) no-repeat;
              width:80px;
			  height:22px;
			  border:0;
			  margin:20px 14px 10px 0;
}
.fab_button11{background:url(../images/fabric3_51.gif) no-repeat;
              width:50px;
			  height:22px;
			  border:0;
			  margin:20px 0 10px 0;
}
.fab_button12{background:url(../images/fabric3_52.gif) no-repeat;
              width:80px;
			  height:22px;
			  border:0;
			  margin:20px 14px 10px 0;
}
.fab_form1{width:358px;
	     height:auto;
	     margin:15px;
	     padding:0 0 10px 0;
		 background:#FFF;
		 border-top:3px #9c9c9c solid;
		 border-bottom:7px #9c9c9c solid;
		 border-left:3px #9c9c9c solid;
		 border-right:4px #9c9c9c solid;
		 float:left;
}
.fab_form3{width:790px;
	     height:auto;
	     margin:0;
	     padding:0 0 5px 0;
	     z-index:10;
	     position:absolute;
	     left:310px;
	     top:210px;
}
.fab_value{font-size:12px;
           color:#838383;
}
.fab_input31{width:70px;
            height:18px;
			border:1px #BBBBBB solid;
			line-height:18px;
}




