@charset "utf-8";
/* CSS Document */
.cl{clear:both;}
.mar_l30{margin-left:30px;}
.mar_t{margin-top:13px;}
.mar_r{ margin:0 20px 0 0;}
.mar_r25{margin:0 25px 0 0;}
.mar_r49{margin:0 49px 0 0;}
.mar_r45{margin:0 45px 0 0;}
.mar_r43{margin:0 43px 0 0;}
.mar_r30{margin:0 30px 0 0;}
.mar_t20{margin-top:20px;}
.mar_t30{margin:30px 0 0 0;}
.mar_l10{margin:0 0 0 10px;}
.mar_l20{margin:0 0 0 20px;}
.mar_l60{margin:0 0 0 60px;}
.mra_r8{margin:0 8px 0 0;}
.mar_l8{margin:0 0 0 8px;}
.z_table_tip,.z_det1 span,.z_order_det label span{color:#ff0000;}
.z_sty1{margin:13px 8px 0 20px;}
.z_sty2{margin:20px 0 0 20px;}
.pad_t5{padding:7px 0 0 0;}
.width60{width:60px;}
.fl{float:left;}


.z_goods_right{width:1025px;
                  margin:12px 0 0 155px;
				  border-top:1px #dbdbda solid;
				  border-bottom:1px #dbdbda solid;
				  border-right:1px #dbdbda solid;
				  padding:0 0 20px 21px;
				  min-height:400px;
				  overflow: auto;
				  overflow-x:hidden;

_height: 1%;}
.z_goods_right dl{padding-left:14px; margin:0;} 
.z_goods_right dt{float:left; font-size:12px; padding:14px 0 4px; width:60px; height:auto;} 
@-moz-document url-prefix(){
	.z_goods_right dt{float:left; font-size:12px;padding:11px 0 4px; width:60px; height:auto;} 
	}
.z_goods_right dd{ text-align:left;height:auto;padding:8px 0;font-size:12px; line-height:24px;} 
.z_goods_right dd span,.z_goods_right dd label,.z_goods_right dt span{font-size:12px; color:#333333; vertical-align:middle;}
.z_goods_right dd label{font-family:tahoma;}
.z_goods_right dd a{font-size:12px; color:#0000ff; line-height:24px;}
.z_goods_right dd .z_radio{vertical-align:middle; margin-top:0;}
.z_inp{width:180px; height:22px; border:1px solid #bebebe; font-size:12px; color:#333;}
.z_goods_right dd p,.z_goods_right dd p a{height:40px; line-height:40px; vertical-align:middle;}
.z_select{width:180px; height:24px; border:1px solid #bebebe; font-size:12px;}
.z_textarea{width:310px; height:75px; border:1px solid #bebebe;}
.z_submit{background:url(../images/fabric3_30.gif) no-repeat; width:90px; height:27px; line-height:27px; border:NONE; font-size:12px; cursor:pointer; color:#FFF;z_submit}
.z_rar{ margin:0 15px 0 0;}
.z_goods_right dd .z_del{text-decoration:none; color:#888888;}
.z_delete{text-decoration:none;}
.z_btn1{background:url(../images/fabric3_34.gif) no-repeat; border:none; width:100px; height:30px; color:#FFF; line-height:26px; font-size:12px;cursor:pointer;}
.z_btn2{background:url(../images/fabric3_35.gif) no-repeat; border:none; width:100px; height:30px; color:#FFF; line-height:26px; font-size:12px;cursor:pointer;}
.z_goods_right dd .z_radio_tip{width:25px; height:14px; background:#ff0000; margin:0; padding:0; color:#ffffff; text-align:center; padding:4px 8px;}
.z_up_img{width:180px; height:180px; border:1px solid #797979; text-align:center;}
.z_up_img span{vertical-align:middle; line-height:180px; margin:0 50px;}
.z_inp1{width:79px; height:22px; border:1px solid #bebebe;}
.z_textarea1{width:310px; height:65px; border:1px solid #bebebe;}
.z_textarea2{width:310px; height:105px; border:1px solid #bebebe;}

.z_price_top{width:780px; height:36px; border-bottom:1px solid #dbdbda;background:#FAFAFA;}
.z_price_top .z_price_ul1{margin:0 0 0 20px; height:36px; float:left; vertical-align:middle; line-height:36px; padding:0;}
.z_price_top .z_price_ul1 .z_time_yes{ height:20px; width:70px;line-height:20px; margin:8px 0;background:#FFF;text-decoration:none; border:1px solid #cccccc; float:left; text-align:center;}
.z_price_top .z_price_ul1 .z_time_yes a{ color:#333;font-size:12px;}
.z_price_top .z_price_ul1 li{display:inline;}
.z_price_top .z_price_ul1 li span{font-size:12px; color:#333; margin:0 0 0 10px; line-height:36px;}
.z_data_table{border:none; float:right; margin-right:5px; height:25px; margin:5px 0; vertical-align:middle;}
.z_date_td{height:25px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;  background:#FFF; padding:0 0 0 5px;}
.z_data_td1{border-left:1px solid #cccccc;}
.fl{float:left;}
.z_table_style,.z_table_style1,.z_table_style2{border-collapse:collapse; text-align:center; vertical-align:middle;}
.z_table_style td{border:1px #dbdbda solid;empty-cells:show; height:25px;font-size:12px;color:#333;}       /*IE中表格内容为空时也可以显示边框*/
.z_table_style th{background:#DEF0FB;font-size:12px;color:#333;font-weight:normal; border:1px #dbdbda solid;border-bottom:none; height:30px;}      /*设置下边框不显示*/
.z_table_style1 th{background:#DEF0FB;font-size:12px;color:#333;font-weight:normal; border:1px #dbdbda solid;border-bottom:none; height:30px;}  
.z_table_style1 td{border:1px #dbdbda solid;empty-cells:show; height:30px;font-size:12px;color:#333;}       /*IE中表格内容为空时也可以显示边框*/
.z_table_style1 a{text-decoration:none; color:#0000ff;}
.z_table_style1 input{ width:36px; height:20px; line-height:20px; font-size:12px;  border:1px solid #bebebe; text-align:center;}

.z_goods_right_t{ width:780px; height:15px;clear:both;}
.z_select1{width:180px; height:20px; border:1px solid #bebebe; margin:0 0 17px 0;}

.z_process_back{width:1015px;height:25px;background:#fafafa;border-bottom:1px #dadad9 solid;float:left;  padding:0 0 0 10px; margin:0 0 10px 0;}
.z_process_back a{font-size:12px; color:#0000ff; margin-left:5px;}
.z_process_title{width:780px; height:44px; line-height:44px; float:left;}
.z_title_sty1,.z_order_det p{font-size:12px; color:#333;}
.z_title_sty2,.z_table_style2 label{font-size:12px; color:#ff0000;}
.z_title_sty3{font-size:12px; color:#ffacac;}
.z_title_sty4{font-size:12px; color:#008000;}
.z_title_sty5 a,.z_title_sty5{font-size:12px; color:#0000ff;}
.z_table_style2 .z_title_sty6{text-align:middle;}
.z_table_sty7{ background:#edf4fb;}
.z_title_sty7{font-size:12px; color:#444;}

.z_table_style2{ text-align:left; }
.z_table_style2 td{empty-cells:show; ont-size:12px;}       /*IE中表格内容为空时也可以显示边框*/
.z_table_style2 th,.z_table_style2 tr{font-size:12px;color:#333;font-weight:normal;}  
.z_table_style2 tr td,.z_table_style2 th td{ border-top:1px solid #B1CEED; border-bottom:1px solid #B1CEED;}
.z_table_style2 tr td,.z_table_style2 th td{height:40px;}
.z_table_style2 th{background:#DEF0FB; text-align:left;}
.z_page{float:right; height:60px; vertical-align:middle; margin:0; padding:0;}
.z_page li{display:inline;height:60px; line-height:60px;}
.z_page li .z_hovor{ padding:3px 7px; border:1px solid #ff5500; background:#ffeee5; color:#ff5500;}
.z_page li a{ padding:3px 7px; border:1px solid #ccc; background:#fff; color:0063dc;}
.z_page li .z_hovor1{border:1px solid #ccc; width:33px; height:16px; text-align:center;}
.z_page li label,.z_page li span a{font-size:12px; color:#333;}
.z_page li span{font-size:12px; color:#999999;}
.z_submit1{background:url(../images/z_0407.gif) no-repeat; width:37px; height:19px; line-height:19px; border:0; font-size:12px;cursor:pointer;}

.z_assign_list{width: 990px; border:1px solid #dbdbda; background:#FAFAFA;padding:5px 5px 5px 11px; margin:13px 0 18px 0;}
.z_assign_list ul{ width:100%; margin:0; padding:0;}
.z_assign_list ul li{margin:10px 0;}
.z_inp2{width:115px; height:23px; border:1px solid #bebebe; font-size:12px; color:#333;}
.z_inp3{width:117px; height:23px; border:1px solid #bebebe; font-size:12px; color:#333;-moz-box-sizing: content-box;}
.z_submit2{background:url(../images/fabric3_56.gif) no-repeat; width:70px; height:27px; line-height:26px; border:none; color:#FFF;font-size:12px;cursor:pointer;}
.z_img{width:100px; height:100px; border:1px solid #ccc; float:left;}
.z_order_title{width:1015px; height:23px; line-height:23px; background:#DCEEF9;padding:0 0 0 5px; border-top:1px solid #dbdbda;}
.z_goods_right hr{width:780px; color:#ccc; margin:0; padding:0; height:1px;}
.z_bg{background:#4FA1E4;}
.z_order_sub{width:770px; height:24px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:18px 0 28px 10px;}
.z_submit3{background:url(../images/fabric3_35.gif) no-repeat; width:100px; height:30px; line-height:30px; border:none; font-size:12px;cursor:pointer; color:#FFF;}



/*
.z_order_det label{font-size:14px; color:#0000ff; font-weight:bold; line-height:28px;}
.z_order_det p{ margin:0; padding:0; line-height:24px;}
.z_title_sty8{width:145px; height:24px;margin:0 0 0 8px;line-height:24px; background:url(../images/z_0415.gif) no-repeat; color:#FFF; text-align:center; display:block;}
*/
.z_order_det{margin:0 0 0 10px; width:660px; float:left;}
.z_det1{font-size:14px; color:#0000ff; font-weight:bold; line-height:28px;}
.z_det2,.z_det2 label{font-size:12px; color:#333; font-weight:normal; line-height:26px; height:26px; float:left; width:50%;}


.z_order_date{float:left; margin:10px 0; padding:0;}
.z_order_date th{text-align:right; color:#333; font-weight:normal;}
.z_order_date td{height:24px;}
.z_order_date dd span{ color:#FFF;}
.z_bg1{background:url(../images/z_0415.jpg) no-repeat;text-align:center;width:145px; height:24px; line-height:24px; vertical-align:middle; color:#FFF;}
.z_bg2{background:url(../images/z_0416.gif) no-repeat;text-align:center;width:145px; height:24px; line-height:24px; vertical-align:middle; color:#FFF; }


/*
.z_order_date{float:left; margin:10px 0 5px 0; padding:0;}
.z_order_date dt{float:left; width:122px; text-align:right;clear:both; margin:0 0 10px 0; padding:0;}
.z_order_date dd{width:145px; height:24px;float:left; margin:0 0 10px 0; padding:0; }
.z_order_date dd span{ color:#FFF;}
.z_bg1{background:#ff0000;text-align:center;}
.z_bg2{background:#008000;text-align:center; }
*/
.z_submit4{background:url(../images/z_0410.gif) no-repeat; border:0; width:52px; height:20px; color:#888888; line-height:20px; font-size:12px;cursor:pointer;}
.z_order_tip{margin:10px 35px 10px 18px; padding:0; line-height:28px;}
.z_order_up{height:115px; padding:12px 0;}
.z_textarea3{width:320px; height:82px; border:1px solid #bebebe; margin:15px 0 25px 10px;}
.z_order_btn{margin:20px 20px 0 10px; float:left;}
.z_title_sty9{font-size:12px; color:#FFF;}


.z_table_bg{background:url(../images/z_0411.gif) no-repeat;}
.z_table_style3{border-collapse:collapse; text-align:left; vertical-align:top;}
.z_table_style3 img{border:none;}
.z_table_style3 td{ empty-cells:show;font-size:12px;color:#333;}       /*IE中表格内容为空时也可以显示边框*/
.z_table_style3 th{background:#DEF0FB;font-size:12px;color:#333;font-weight:normal; text-align:left; }      /*设置下边框不显示*/
.z_table_style1 th{background:#DEF0FB;font-size:12px;color:#333;font-weight:normal; border:1px #dbdbda solid;border-bottom:none; height:30px;}  
.z_order_bg{ width:120px; height:24px; line-height:24px; color:#FFF; background:url(../images/z_0418.jpg) no-repeat; text-align:center;}
.z_order_bg1{ width:120px; height:24px; line-height:24px; color:#FFF;background:url(../images/z_0419.gif) no-repeat; text-align:center;}
.z_btn4{background:url(../images/z_0404.gif) no-repeat; border:0; width:64px; height:27px; color:#888888; line-height:27px; font-size:12px; margin:0 5px 0 0;cursor:pointer;}




/*弹出表单样式*/
.z_distribut_title{width:360px; height:30px; line-height:30px; background:#0099ff;}
.z_distribut_con{height: 360px;
    width: 360px;}
.z_distribut_title span{float:left; font-size:12px; color:#FFF; margin-left:13px;}
.z_distribut_title a{float:right; font-size:12px; color:#FFF; margin-right:15px;}
.z_distribut_detail{width:320px; height:290px; padding:0;overflow:scroll; border:1px solid #ccc; margin:20px 20px 15px 15px;}
.z_distribut_detail li{margin:20px 0 0 20px;}
.z_distribut_con .z_distribut_detail .z_radio1{vertical-align:middle; margin-top:0;}
.z_distribut_con .z_distribut_detail label{font-family:tahoma;font-size:12px; color:#333333; vertical-align:middle;}
.z_close{color:#fff; margin:0 0 0 30px;}

/*关联订单带回下拉表格*/
.asso_list{width:180px;margin-top:0px;margin-left:60px;border-left:1px solid #bebebe;border-right:1px solid #bebebe;border-bottom:1px solid #bebebe;background-color:#ffffff;position:absolute;display:block;z-index:999999;}
.asso_list_nodis{width:180px;margin-left:60px;display:none;}

/*查看进度页详情弹出层*/
.z_order_detail{padding:10px;position:absolute; display:none; width:210px; height:auto; index:999; word-wrap: break-word; background-color:#DEF0FB; border-width:1px; border-color:#DBDBDA; border-style:solid;}
.z_order_detail span{display: block; margin-bottom: 8px;}

/*查看进度页备注弹出层*/
.z_order_content{padding:10px;position:absolute; display:none; width:150px; height:auto; index:999; word-wrap: break-word; background-color:#DEF0FB; border-width:1px; border-color:#DBDBDA; border-style:solid;}

.qi_tao_span{
    margin-left:2.5%;
    line-height: 35px;
    display: block;
    float: left;
    width: 300px;
}





