/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
body{margin:0 0 0 0;
	 background-color:#f0f0f0;}
a{
	cursor:pointer;
	text-decoration: none
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
/**************************************/


/**************************************/
/*              HEADER                */

#Header{
	background: url(../images/bg.png) repeat-x;
    height:142px}
.logo{
	height:100px;
	background: url(../images/logo.png) no-repeat}
#login_info{
	background: url(../images/bg.png) repeat-x 0 -258px;
	height:29px;
	position: relative;
}
#login_info span{
	display: inline-block;
	height:26px;
	float:left;
	margin:0 10px 0 0;
	
}
#login_info > i{
	float:left;
	display: inline-block;
	margin:0 5px 0 0;
	
}
#login_info > span.left{
	width: 29px;
	background: url(../images/bg.png) no-repeat 0 -322px ;
}
#top_ad{
	margin:10px 0 0 0;
}
#top_flow{
	margin:23px 0 0 0;
	color: #888;
	height:33px;
	width:177px;
	background: url(../images/flow.gif) no-repeat 0 -37px;
	line-height:33px;
	font-size:13px;
	font-weight:bold;
	text-align: center;
}
/**************************************/



/**************************************/
/*             NAVIGATION             */
#nav{
	margin:5px 0 0 0;
	height:36px;
}
#nav a{ text-decoration: none;}
#nav  ul li  {
	margin: 0;
	float: left;
	width: auto;
  	text-align: center;
	height:36px;
	background: url(../images/bg.png) no-repeat 100% -361px;
  	
}
#nav  ul li a {
	color: #FFF;
	font: bold 14px/38px \5b8b\4f53;
	outline: none;
	text-align: center;
	padding:0 20px 0 20px;

}
#nav  ul li.act {
	background: url(../images/bg.png) no-repeat 100% -219px;

}
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
#Content{background-color:#f0f0f0;}
#content-center{
	background-color:#ffffff;
	min-height:500px;}
/**************************************/



/**************************************/
/*               FOOTER               */
#footer-center{
	background-color:#ffffff;
	color: #a2a2a2;
	font: 12px/1.7 arial,"宋体";
}
#footer-center div.split{
	height:2px;
	background: url(../images/bg.png) repeat-x 0 -110px;
}
#footer-nav{
	height:20px;
	margin:10px 0 0 0;
}
#footer-nav ul li  {
	margin: 0;
	float: left;
	width: auto;
  	text-align: center;
}
#footer-nav ul li a,i {
	color: #a2a2a2;
	font: 12px/1.7 arial,"宋体";
	outline: none;
	text-align: center;
	padding:0 2px 0 2px;
	line-height:20px;

}
#footer-nav  ul li.act {
	background: url(../images/bg.png) no-repeat 100% -219px;

}
/**************************************/

