.btn_lan{
	float: left;
	width: 93px;
	height: 27px;
	overflow: hidden;
	line-height: 28px;
	text-align: center;
	color: #093C73;
	background: url(../images/ico1.png) no-repeat 0 -66px;
	margin-bottom: 15px;
	margin-top: 20px;
	margin-right: 50px;
}
.daoChu{
	background: url(../images/fabric3_56.gif) no-repeat;
	width: 70px;
	height: 27px;
	line-height: 26px;
	border: none;
	color: #FFF;
	font-size: 12px;
	cursor: pointer;
	margin-top: 20px;
	float: right;
	margin-right: 25px;
}
.daoChu_span{
	top: 27px;
	position: relative;
	left: 271px;
}