@charset "utf-8";
/* CSS Document */

.fab_head_banner a{font-size:14px;
                   color:#FFFFFF;
}
.fab_head_right ul{display:inline;
                  list-style:none;
			      float:right;
				  margin:0;
				  padding:0;
				  width:100%;
} 
.fab_head_right li{float:left;
                  display:block;
			      line-height:20px;
} 
.fab_head_right li a{text-decoration:none;
                     color:#9CB2BE;}
.fab_a_style1{font-size:12px;
              color:#9CB2BE;
			  margin-left:11px;
		      line-height:20px;
			  float:left;
}
.fab_a_style2{font-size:12px;
             color:#9CB2BE;
			 margin-left:31px;
			 line-height:20px;
			 text-decoration:none;
			 float:left;
}
.fab_a_style3{width:15px;
             height:20px;
	         background:url(../images/fabric3_8.gif) no-repeat;
			 float:left;
			 margin:0;
			 padding:0;
}
.fab_a_style4{width:44px;
			 height:21px;
			 background:#3c5b7a;
			 margin-left:16px;
			 float:left;
			 text-align:center;
			 color:#9CB2BE;
}


.fab_title img{float:left;
		       width:29px;
		       height:29px;
}
.fab_title span{line-height:29px;
                font-size:14px;
	            color:#535353;
			    margin:0 0 0 7px;
			    float:left;
}
.fab_contain em{background:url(../images/fabric3_7.gif) no-repeat;
                width:25px;
 			    height:29px;
 			    float:right;
}
.fab_titleact{width:155px;
              height:29px;
	          background:url(../images/fabric3_4.gif) no-repeat;
			  float:left;
	   }
.fab_titleact img{float:left;
		          width:29px;
		          height:29px;
}
.fab_titleact span{line-height:29px;
                   font-size:14px;
	               color:#FFF8F8;
			       margin:0 0 0 7px;
			       float:left;
}
.fab_titleact em{background:url(../images/fabric3_6.gif) no-repeat;
                 width:25px;
			     height:29px;
			     float:right;
}

.menu_act{width:155px;
              height:29px;
	          background:url(../images/fabric3_4.gif) no-repeat;
			  float:left;
}
.menu_act img{float:left;
		          width:29px;
		          height:29px;
}
.menu_act span{line-height:29px;
                   font-size:14px;
	               color:#FFF8F8;
			       margin:0 0 0 7px;
			       float:left;
}
.menu_act em{background:url(../images/fabric3_6.gif) no-repeat;
                 width:25px;
			     height:29px;
			     float:right;
}
.fab_title i{
	        width:29px;
		    height:29px;
			float:left;
}
.acce_menu_icon{background:url(../images/bg_28.gif) no-repeat;}
.menu_act .acce_menu_icon{background:url(../images/fabric3_5.gif) no-repeat;}
.fab_menu_icon{background:url(../images/bg_21.gif) no-repeat;}
.menu_act .fab_menu_icon{background:url(../images/fabric3_45.gif) no-repeat;}
.offer_menu_icon{background:url(../images/bg_26.gif) no-repeat;}
.menu_act .offer_menu_icon{background:url(../images/fabric3_46.gif) no-repeat;}
.base_menu_icon{background:url(../images/bg_40.gif) no-repeat;}
.menu_act .base_menu_icon{background:url(../images/fabric3_49.gif) no-repeat;}	
.fab_menu{font-family:宋体,Arial;
          font-size:13px;
		  color:#6d6d6d;
		  margin:0;
		  padding:0;
          width:100%;
		  height:60px;
}
.fab_menu li{list-style:none;
			background:#fdfdfd;

}
.fab_menu a{text-decoration:none;
           color:#6c6c6c;
		   line-height:29px;
		   margin-left:20px;
		   padding-left:16px;
}
.fab_menu a.item_act{
		  color:#2e7bcb;
	      font-weight:bold;
		  background:url(../images/right_arrow.gif) no-repeat;
}
.fab_border{border-top:1px #EFEFEF solid;
			float:left;
			width:100%;			
}
.fab_input1{width:163px;
            height:20px;
			border:1px #bfbfbf solid;
			margin:0 25px 10px 0;
}
.fab_input2{width:122px;
            height:20px;
			border:1px #bfbfbf solid;
}
.fab_input3{width:69px;
            height:20px;
			border:1px #bfbfbf solid;
			line-height:20px;
}
.fab_input4{width:78px;
            height:22px;
			border:1px #bfbfbf solid;
}
.fab_input5{font-size:13px;
                color:#000000;
				height:22px;
				line-height:20px;
				margin:0 0 10px 0;
}
.fab_input6{margin:0 8px;
}
.fab_input7{margin:0 0 0 25px;
}
.fab_input8{margin:0 0 0 10px;
}
.fab_input9{width:79px;
            height:22px;
			border:1px #bfbfbf solid;
			margin:0 4px 0 0;
}
.fab_button1{background:url(../images/fabric3_9.gif) no-repeat;
             width:99px;
			 height:27px;
			 margin:0 0 0 23px;
			 border:0;
}
.fab_button2{background:url(../images/fabric3_10.gif) no-repeat;
             width:91px;
			 height:27px;
			 margin:13px 0 13px 20px;
			 border:0;
			 cursor: pointer;
			 color: #FFF;
}
.fab_img1{width:76px;
          height:76px;
		  border:1px #B5B5B5 solid;
		  padding:3px;
}
.fab_img2{width:31px;
          height:31px;
		  border:1px #ff8926 solid;
		  padding:1px;
		  margin-right:10px;
}
.fab_img3{width:31px;
          height:31px;
		  border:1px #CCCCCC solid;
		  padding:1px;
		  margin-right:10px;
}
.fab_img4{width:31px;
          height:17px;
		  border:1px #CCCCCC solid;
		  padding:7px 1px;
		  margin-right:10px;
}


.fab_table1{width:790px;
            height:85px;
			padding:12px 0 13px 20px;
			border-bottom:1px #b1ceed solid;
}
.fab_style1{font-size:13px;
            color:#464646;
			font-weight:bold;
}
.fab_style2{font-size:12px;
            color:#B4B4B4;
			vertical-align:top;
}
.fab_style3{font-size:12px;
            color:#464646;
}
.fab_style11{color:#C3473F;
}
.fab_table1 a{color:#0B09CD;
              font-size:12px;
}
.fab_input10{width:25px;
             height:20px;
			 border:1px #cbcbcb solid;
}
.fab_add_style1{width:72px;
                         height:20px;
						 line-height:20px;
			             font-size:12px;
			             color:#414141;
						 text-align:right;
						 margin:0 11px 0 0;
						 float:left;
}
.fab_input11{width:274px;
            height:18px;
			border:1px #BBBBBB solid;
			line-height:18px;
			margin:0 400px 10px 0;
			float:left;
}
.fab_add_style5{width:72px;
               height:20px;
			   line-height:5px;
			   font-size:12px;
			   color:#414141;
			   text-align:right;
			   margin:0 10px 0 0;
			   float:left;
			   padding:15px 0 20px 0;
}
.fab_input12{width:274px;
            height:18px;
			border:1px #BBBBBB solid;
			line-height:18px;
			margin:0 0 7px 0;
			vertical-align:top;
}
.checkbox1{vertical-align:middle;
           margin-top:0; 
		   height:30px; 
		   line-height:30px;
} 
.fab_add_style2{font-size:12px;
                color:#414141;
				height:25px;
				line-height:30px;
				margin:0 15px 0 0;
}
.fab_rule2{width:133px;
       height:156px;
	   float:left;
       border:1px #CFCFCF solid;
       margin:0 0 0 10px;
	   padding:6px 3px 0 3px;
	   overflow:hidden;
}
.fab_rule3{width:127px;
       height:156px;
	   border:1px #CFCFCF solid;
	   float:left;
       margin:0 0 0 12px;
	   padding:6px 0 0 10px ;
	   overflow:scroll;
}
.rule_list{width:100%;
		   margin:0;
		   padding:0;
		   float:left;
		   list-style:none;
}
.rule_list li{line-height:25px;
			  width:100%;
			  float:left;
}
.fab_list_bg{background:#cde0ec;
}

.fab_input13{width:274px;
            height:18px;
			border:1px #BBBBBB solid;
			line-height:18px;
			margin:0 400px 8px 0;
			float:left;
}
.fab_add_style3{font-size:12px;
                color:#464646;
				height:42px;
				line-height:42px;
				margin:0 44px 0 6px;
}
.fab_season span{margin:0 10px 0 0;
                 color:#414141;
				 font-size:12px;
}
.fab_add_style4{width:72px;
                         height:20px;
						 line-height:30px;
			             font-size:12px;
			             color:#414141;
						 text-align:right;
						 margin:0;
						 float:left;
}
.checkbox2{vertical-align:middle;
           margin-top:0; 
		   height:25px; 
		   line-height:25px;
} 
.fab_button3{background:url(../images/fabric3_30.gif) no-repeat;
             width:90px;
			 height:27px;
			 margin:15px 0 16px 0;
			 border:0;
			 cursor: pointer;
			 color: #FFF;
}
.fab_add_new table td{empty-cells : show;
                      border:1px #d2cece solid;
					  background:#FFF;
}
.fab_add_new table{border-collapse:collapse;
}
.fab_add_new table th{background:#e5edf5;
                      font-size:12px;
					  color:#464646;
					  font-weight:normal;
					  border:1px #d2cece solid;
					  border-bottom:none;
}
.fab_input14{width:78px;
            height:20px;
			border:1px #BBBBBB solid;
			line-height:18px;
}
.fab_button4{background:url(../images/fabric3_31.gif) no-repeat;
             width:60px;
			 height:22px;
			 border:0;
			 vertical-align:middle;
}
.fab_style4{font-size:12px;
            color:#464646;
}
.fab_style5{color:#3361A7;
            font-size:12px;
			text-decoration:underline;
			line-height:38px;
}
.fab_table5{vertical-align:middle;
}
.color_img{width:23px;height:23px;
}
.fab_style6{vertical-align:middle;
            margin-top:0;
			height:38px;
			line-height:38px;
}
.fab_style7{height:38px;
            line-height:38px;
			color:#464646;
}
.fab_input15{width:32px;
            height:20px;
			border:1px #BBBBBB solid;
			line-height:18px;
			margin:0 5px 0 0;
}
.fab_style8{width:32px;
			margin:0 5px 0 0;
			text-align:right;
			border:0;
            height:20px;
			color:#464646;
			font-size:12px;
}
.fab_input16{width:73px;
            height:18px;
			border:1px #BBBBBB solid;
			line-height:18px;
}
.fab_input17{width:51px;
            height:18px;
			border:1px #BBBBBB solid;
			line-height:18px;
}
.fab_text_style1{width:80px;
                 text-align:left;
				 font-size:13px;
				 color:#000000;
				 float:left;
				 padding:5px 0 0 5px;
}
.fab_text_style2{width:500px;
                 height:110px;
				 border:1px #bbbbbb solid;
				 float:left;
}
.fab_button5{background:url(../images/fabric3_34.gif) no-repeat;
             width:100px;
			 height:30px;
			 border:0;
			 margin:0 43px 0 0;
			 cursor: pointer;
			 color: #FFF;
}
.fab_button6{background:url(../images/fabric3_35.gif) no-repeat;
             width:100px;
			 height:30px;
			 border:0;
			 margin:0 30px 0 0;
			 cursor: pointer;
			  color: #FFF;
}
.fab_style9{vertical-align:middle;
            margin:0 4px 0 0;
}
.fab_back_style{height:25px;
                font-size:12px;
                color:#5D5B5B;
				line-height:25px;
				margin:0;
}
.fab_img5{width:164px;
          height:164px;
		  border:1px #CCCCCC solid;
		  padding:5px;
		  float:left;
}
.fab_style10{font-size:15px;
            color:#464646;
			font-weight:bold;
}
.fab_style12{font-size:13px;
             color:#464646;
			 line-height:48px;
			 
}
.fab_style13{font-size:20px;
             color:#FF3F00;
			 line-height:48px;
			 font-family:Arial;
}
.fab_info span{font-size:13px;
               color:#1F55AB;
			   line-height:28px;
			   font-weight:bold;
}

.fab_table2 td{empty-cells : show;
               border:1px #d2cece solid;
			   background:#FFF;
}
.fab_table2{border-collapse:collapse;
}
#fab_table2_style1{background:#f8f8f8;
                   font-size:13px;
				   color:#000000;
}
.fab_table2_style2{padding:0 0 0 23px;
                   line-height:57px;
				   font-size:12px;
				   color:5D5D5D;
}
.fab_style14{font-size:12px;
             color:#878787;
			 line-height:22px;
}
.fab_style15{font-size:13px;
             color:#464646;
			 font-weight:bold;
			 line-height:25px;
}
.fab_style16{font-size:12px;
             color:#464646;
			 line-height:25px;
}

.fab_table3 td{empty-cells : show;
                      border:1px #d2cece solid;
					  background:#FFF;
}
.fab_table3{border-collapse:collapse;
            margin:5px 0 53px 5px;
			clear:both;
}
.fab_table3 th{background:#e5edf5;
                      font-size:12px;
					  color:#464646;
					  font-weight:normal;
					  border-bottom:none;
					  border:1px #d2cece solid;
					  border-bottom:none;
}
.fab_input18{width:100px;
            height:18px;
			border:1px #BBBBBB solid;
			line-height:18px;
}
.fab_style17{line-height:38px;
             margin:0 0 0 5px;
}
#fab_table3_style1{border-top:none;
}
.fab_button7{background:url(../images/fabric3_42.gif) no-repeat;
             width:100px;
			 height:30px;
			 border:0;
			 margin:0 30px 0 0;
}
#fab_style1{color:#444444;
            font-size:13px;
}

.fab_table4 td{empty-cells : show;
                      border:1px #d2cece solid;
					  background:#FFF;
}
.fab_table4{border-collapse:collapse;
            margin:25px 0 0 9px;
}
.fab_table4 th{background:#e5edf5;
                      font-size:12px;
					  color:#464646;
					  font-weight:normal;
					  border:1px #d2cece solid;
					  border-bottom:none;
}
.fab_add_style6{width:100px;
                         height:25px;
						 line-height:25px;
			             font-size:12px;
			             color:#414141;
						 text-align:right;
						 margin:0 10px 0 0;
						 float:left;
}
.fab_offer6{color:#FF0000;
            font-family:Arial;
			font-size:12px;
			float: right;
			padding-top: 2px;
}
.fab_offer_list1 li{height:32px;
                   vertical-align:middle;
}

.fab_offer1{vertical-align:middle;
            margin-top:0;
			height:20px;
			line-height:20px;
}
.fab_offer2{height:20px;
            line-height:20px;
			color:#414141;
			margin:0 41px 0 0;
}
.fab_offer5{height:20px;
            line-height:20px;
			color:#414141;
			margin:0 24px 0 0;
}
.fab_input19{width:178px;
            height:20px;
			border:1px #BBBBBB solid;
			line-height:20px;
			margin:0 5px 0 0;
}
.fab_input20{width:384px;
            height:20px;
			border:1px #BBBBBB solid;
			line-height:20px;
}
.fab_offer3{font-size:12px;
            color:#868686;
}
.fab_offer4{width:380px;
            height:64px;
				 border:1px #bbbbbb solid;
				 float:left;
}
.fab_button8{background:url(../images/fabric3_47.gif) no-repeat;
             width:100px;
			 height:30px;
			 border:0;
			 margin:0 30px 0 0;
}
.fab_offer7{width:100px;
                         height:32px;
						 line-height:32px;
			             font-size:12px;
			             color:#878787;
						 text-align:right;
						 margin:0 10px 0 0;
						 float:left;
}
.fab_offer8{height:32px;
						 line-height:32px;
			             font-size:12px;
			             color:#414141;
						 float:left;
}
.fab_a_style5{font-size:12px;
              text-decoration:none;
			  color:#0000FF;
}
.fab_a_style6{font-size:12px;
              text-decoration:none;
			  color:#878787;
}
.fab_button9{background:url(../images/fabric3_48.gif) no-repeat;
             width:90px;
			 height:22px;
			 border:0;
}
.fab_input21{width:148px;
            height:22px;
			border:1px #BBBBBB solid;
			line-height:22px;
}
.fab_table6 td{empty-cells : show;
                      border:1px #d2cece solid;
					  background:#FFF;
}
.fab_table6{border-collapse:collapse;
}
.fab_table6 th{background:#e5edf5;
                      font-size:12px;
					  color:#464646;
					  font-weight:normal;
					  border:1px #d2cece solid;
					  border-bottom:none;
}
.fab_style18{float:left;
             margin:0 140px 0 0;
}
.fab_style19{float:left;
             margin:0 0 17px 0;
}
.fab_show_style{float:left; 
                width:580px;
}
.fab_contain_title span{line-height:39px;
                        vertical-align:middle;
						margin:0 20px 0 0;
						float:left;
}
.fab_sort_style{font-size:13px;
             color:#464646;
			 line-height:38px;
}
.fab_sort img{margin:0 0 0 10px;
}
.fab_input22{width:103px;
            height:20px;
			border:1px #bfbfbf solid;
			margin:0 15px 0 0;
}
.fab_input23{width:78px;
            height:22px;
			border:1px #bfbfbf solid;
			margin: -5px 7px 0 0;
			vertical-align:middle;
}
.fab_input24{width:53px;
            height:20px;
			border:1px #bfbfbf solid;
}
.fab_input25{margin:0 0 10px 0;
}
.fab_button10{background:url(../images/fabric3_56.gif) no-repeat;
             width:70px;
			 height:27px;
			 margin:0 0 0 7px;
			 border:0;
}
.fab_input26{width:163px;
            height:20px;
			border:1px #bfbfbf solid;
			margin:0 15px 10px 0;
}
.fab_input27{margin:0 15px 0 10px;}
.fab_style20{font-size:12px;
             color:#464646;
			 padding:340px 0 0 400px;
}
.fab_input28{width:118px;
            height:20px;
			border:1px #bfbfbf solid;
}
.fab_input29{width:110px;
            height:24px;
			border:1px #bfbfbf solid;
			vertical-align:middle;
}
.fab_input30{margin:0 10px 0 0;
}
.fab_button11{background:url(../images/fabric3_61.gif) no-repeat;
             width:81px;
			 height:22px;
			 margin:0 0 0 10px;
			 border:0;
			 vertical-align:middle；
}
.fab_a_style7{font-size:12px;
              color:#0B08CD;
}
.fab_table7 td{empty-cells : show;
               border-bottom:1px #b1ceed solid;
}
.fab_table7{border-collapse:collapse;
            color:#464646;
}
.value1{color:#838383;
}
.value2{color:#464646;
}
.fab_button12{background:url(../images/fabric3_62.gif) no-repeat;
             width:100px;
			 height:27px;
			 margin:13px 0 13px 20px;
			 border:0;
}
.radio1{vertical-align:middle;
           margin-top:0; 
		   height:40px; 
		   line-height:40px;
} 
.fab_add_style7{font-size:12px;
                color:#414141;
		        height:40px; 
		        line-height:40px;
				margin:0 15px 0 0;
}
.fab_add_style8{width:72px;
               height:40px;
			   line-height:40px;
			   font-size:12px;
			   color:#414141;
			   text-align:right;
			   margin:0 10px 0 0;
			   float:left;
}
.fab_add_style9{padding:4px 0 0 0;
}
.fab_checked{border:1px #a7a6aa solid;
}
.fab_color{margin:0 30px 0 0;
}
.fab_add_new1 img{vertical-align:middle;
                  line-height:22px;
				  margin:0;
				  text-align:center;
}
.radio2{vertical-align:middle;
        margin:0 3px 0 0; 
} 
.radio3{vertical-align:middle;
        margin:0;
		font-size:12px;
		font-family:宋体;
}
.radio4{vertical-align:middle;
		font-size:12px;
		font-family:宋体;
}
.radio5{vertical-align:middle; 
        margin:0 2px 0 0;
}
.fab_table8 td{empty-cells : show;
                      border:1px #d2cece solid;
					  background:#FFF;
}
.fab_table8{border-collapse:collapse;
}
.fab_table8 th{background:#e5edf5;
                      font-size:12px;
					  color:#464646;
					  font-weight:normal;
					  border:1px #d2cece solid;
					  border-bottom:none;
}
.season_title3{width:78px;
              height:110px;
			  float:left;
			  padding:19px 10px 0 0;
			  vertical-align:top;
			  text-align:right;
			  font-size:12px;
}
.season_containt3{width:702px;
                 height:120px; 
				 float:left;
				 padding:9px 0 0 0;
}
.div1{width:48px;
      margin:0 30px 0 0; 
	  float:left; 
	  height:34px; 
	  line-height:34px; 
	  vertical-align:middle;
}
.season_title2{width:78px;
              height:54px;
			  float:left;
			  padding:19px 10px 0 0;
			  vertical-align:top;
			  text-align:right;
			  font-size:12px;
}
.season_containt2{width:702px;
                 height:64px; 
				 float:left;
				 padding:9px 0 0 0;
}
.div2{width:45px;
      margin:0 30px 0 0; 
	  float:left; 
	  height:32px; 
	  line-height:32px; 
	  vertical-align:middle;
}
.season_title4{width:78px;
              height:61px;
			  float:left;
			  padding:19px 10px 0 0;
			  vertical-align:top;
			  text-align:right;
			  font-size:12px;
}
.season_containt4{width:702px;
                 height:70px; 
				 float:left;
				 padding:10px 0 0 0;
}
.div4{width:57px;
      margin:0; 
	  float:left; 
	  height:30px; 
	  line-height:30px; 
	  vertical-align:middle;
	  text-align:left;
}



.fab_div1{width:23px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
		  color:#464646;
		  text-align:center;
}
.fab_div12{width:23px;
          float:left;
		  height:34px;
		  margin:0;
		  padding:0;
		  color:#464646;
}

.fab_div2{width:68px;
          float:left;
		  height:43px;
		  margin:0;
		  color:#464646;
}
.fab_div3{width:81px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
}
.fab_div3 a{color:#464646;
}
.fab_div4{width:231px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
		  color:#464646;
}
.fab_div5{width:76px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
		  color:#464646;
}
.fab_div6{width:74px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
		  color:#464646;
}
.fab_div7{width:80px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
		  color:#464646;
}
.fab_div8{width:68px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
		  color:#464646;
}
.fab_div9{width:40px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
}

.fab_div11{width:29px;
          float:left;
		  height:43px;
		  margin:0;
		  padding:0;
}

.offer_menu{width:100%;
            margin:0;
			padding:0;
			float:left;
			width:790px;
}
.offer_menu_li{width:790px; 
               height:43px;
			   line-height:43px; 
			   vertical-align:middle; 
			   border-bottom:1px #b1ceed solid; 
			   font-size:12px;
			   float:left;
			   margin:0;
}
.fab_checkbox{vertical-align:middle; 
              height:34px; 
			  line-height:34px; 
			  margin-top:0;
}
.fab_checkbox1{vertical-align:middle; 
              height:43px; 
			  line-height:43px; 
			  margin:0 5px 0 0;
}
.season_title5{width:78px;
              height:54px;
			  float:left;
			  padding:19px 10px 0 0;
			  vertical-align:top;
			  text-align:right;
			  font-size:12px;
}
.season_containt5{width:702px;
                 height:64px; 
				 float:left;
				 padding:9px 0 0 0;
}
.div5{width:45px;
      margin:0 30px 0 0; 
	  float:left; 
	  height:32px; 
	  line-height:32px; 
	  vertical-align:middle;
}
.season_containt6{width:604px;
                 min-height:64px; 
				 float:left;
				 padding:9px 0 0 0;
				 background:#f8f8f8;
}
.div6{width:149px;
      margin:0; 
	  float:left; 
	  height:25px; 
	  line-height:25px; 
	  vertical-align:middle;
}
.season_containt6 img{margin:0 2px 0 0;}
.acce_style{width:74px;
            float:left;
            height:32px;
            line-height:32px;
}
.acce_style_right{width:650px;
                  min-height:70px;
                  float:left;
                  margin:4px 0 0 0
}
.fab_offer_button{float:left;
                  vertical-align:middle;
                  margin:7px 0;
}
.fab_ad_style3{font-size:13px;
                color:#000000;
				height:22px;
				line-height:20px;
				margin:0 0 10px 8px;
}
.fab_ad_style2{width:163px;
                height:20px;
			    border:1px #bfbfbf solid;
			    margin:0 15px 10px 0;
}
.fab_ad_style4{height:34px;
               line-height:34px;
               width:790px; 
			   vertical-align:middle; 
			   border-bottom:1px #b1ceed solid; 
			   font-size:12px;
			   float:left;
			   margin:0;
}
.fab_div10{width:30px;
          float:left;
		  height:34px;
		  margin:0;
		  color:#464646;
		  text-align:left;
}
.fab_div12{width:23px;
          float:left;
		  height:34px;
		  margin:0;
		  padding:0;
		  color:#464646;
}




