body
{
	font-family:宋体, Arial;
	font-size: 12px;
	color:#666666;
	margin:0px;
	padding:0px;
	background:#F5F5F5
} 
a
{
	color:#666666;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
a.lan
{
    color:#3366CC
}
a.lan1
{
    color:#0B09CC
}
a.hong
{
    color:#FF0000
}
.underline
{
    text-decoration:underline
}
form
{
    border:0px
}
img
{
    border:0px;
}
input
{
    outline:none;
}
textarea
{
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
	outline:none;
	resize:none;
}
div, body, table, tr, td, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, img, form, input, select
{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6
{
	font-size: 12px;
	color:#666666;
	font-weight: normal;
}
ul,li
{
	list-style: none;
}
em, i,del
{
	font-style: normal;
	text-decoration:none;
}
s
{
    text-decoration:none
}
textarea
{
	font-size:12px
}
table
{
    table-layout:fixed;
}
.clear
{
    clear:both
}
.fl
{
    float:left
}
#TB_overlay {
	Z-INDEX:100; LEFT: 0px; WIDTH: 102%; POSITION:absolute; TOP: 0px; HEIGHT: 100%;
}
.TB_overlayBG {
	FILTER: alpha(opacity =20); opacity: 0.2; moz-opacity: 0.2;
	background:#000;
}
#TB_HideSelect {
	Z-INDEX: 99; FILTER: alpha(opacity = 0); LEFT: 0px; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: fixed; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #fff; BORDER-BOTTOM-STYLE: none; opacity: 0; moz-opacity: 0
}
.loading
{
    position:absolute;
    z-index:300;
    width:200px;
    height:40px;
    line-height:40px;
    background:#fff url(../images/loading_1.gif) no-repeat 10px center;
    left:50%;
    top:50%;
    text-align:center;
    border:solid 1px #DCDCDC;
    padding:0 0 0 10px;
}
.inputFocus
{
    border:solid 1px #EFA100 !important;
}
.inputError
{
    border:solid 1px #DB0100 !important;
}
.formValidateTip
{
    line-height:18px;
    background:#FFE8E8;
    border-top:solid 3px #E41B45;
    border-bottom:solid 3px #E41B45;
    padding:5px 0px 5px 10px;
    color:#E41B47;
    display:none;
}
.formValidateTip p
{
    display:block;
    overflow:hidden;
}
/**by lucky eagle*/
.del_hand{
	cursor:pointer;
}
.f_table_list td{
    text-align:left;
}
.f_table_list .f_table_list_td input{
		 display:block;height:20px; float:left;margin:0 0 0 5px;
}
.f_table_list .f_table_list_td label{
		 display:block;float:left;height:20px; line-height:20px;margin:0 0 0 5px;
}



.td_checkall  input{
                     display:block;height:20px; float:left;margin:0 0 0 5px;
                     
}
.td_checkall label{
                     display:block;float:left;height:20px; line-height:20px;margin:0 0 0 5px;
}

/**end by lucky eagel*/